<div id="home">
    <div id="homepage_bot">
        <iframe id="botkit_client" src="/chat.html"></iframe>
    </div>

    <div id="welcome">
        <div class="wrapper hero">
            <img src="/logo.png" />
        </div>
    </div>
</div>
<script src="/embed.js"></script>
<script>
  Botkit.boot({});
</script>
