<footer id="footer">
  <div class="wrapper">
    <p>
      <div class="fb-share-button" data-href="http://coronabot-web.herokuapp.com" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartilhar</a></div>
        | <a href="/chat.html">Tela inteira</a>
        | <a href="/embed">Widget para site</a>
    </p>
  </div>
</footer>
