<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v6.0"></script>
<header id="header">

<script async defer src="https://buttons.github.io/buttons.js"></script>
<center>
  <a class="github-button" href="https://github.com/rpossan/coronabot" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star Corona Bot on GitHub">Give me a star!</a>
  <br/>
  </center>
</header>
